@charset "utf-8";
* {
	margin: 0;
	padding: 0;
}
body {
	font-size: 12px;
	font-family: 微软雅黑;
}
img {
	border: none;
}
ul,ol {
	list-style: none;
	padding-left: 0px;
}
a {
	color: #cccccc;
	text-decoration: none;
}
.clearfixed:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
input[type = "button"] {
	border:0px;
	background-color:transparent;
}
input {
	outline:none;
}