body {
	background-color: #f9f9f9;
}
#top {
	width: auto;
	height: 30px;
	background-color: #333333;
}
#top_show {
	width: 1080px;
	margin: 0 auto;
	color: #cccccc;
}
#top_show a:hover {
	color: #fff;
}


#top_show ul li {
	float: left;
	line-height: 30px;
	position: relative;
}
#top_show ul li i {
	display: inline-block;
	width: 1px;
	height: 11px;
	margin: 0 18px;
	background-color: #cbcbcb;
}


#top_right {
	float: right;
}
#top_right li:first-of-type a:first-of-type {
	margin-right: 20px;
}
#top_right li:nth-of-type(3) b {
	display: inline-block;
	width: 20px;
	height: 30px;
	font-weight: normal;
}


#msg {
	display: inline-block;
	width: 16px;
	height: 13px;
	background: url(../images/msgcenter.png)no-repeat;
}
#msg + a {
	margin: 0 12px;
}


#top_right li:nth-of-type(4) b {
	display: inline-block;
	width: 20px;
	height: 10px;
	background: url(../images/comSprite.png) 8px -97px no-repeat;
	vertical-align: middle;
}
#top_right li:nth-of-type(4) {
	width: 92px;
}
#top_right li:nth-of-type(4):hover #myService {
	display: block;
}
#top_right li:nth-of-type(4):hover b {
	background: url(../images/comSprite.png) 8px -84px no-repeat;
}

#myService {
	display:none;
	width: 136px;
	position: absolute;
	left: -30px;
	top: 40px;
	padding: 10px 0;
	text-align: center;
	background-color: #fff;
	box-shadow: 0 1px 10px 4px rgba(0,0,0,0.05);
	border-radius: 4px;
	z-index: 99;
}
#myService:after {
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	left: 40%;
	top: -20px;
	border-left: 10px solid transparent;
	border-top: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #fff;
}
#myService a {
	line-height: 30px;
	display: block;
    height: 40px;
    padding: 0 15px;
    line-height: 40px;
    font-size: 16px;
    color: #000;
}
#myService a:hover {
	color: #000;
	background-color: #f0f0f0;
}


#top_right li:last-of-type {
	width: 110px;
	background-color: #523669;
	text-align: center;
}
#top_right li:last-of-type a {
	display: inline-block;
	padding-left: 20px;
	width: 90px;
	background: url(../images/shopCar.png)no-repeat 15px 7px;
}
#shopCar {
	padding-left: 4px;
}